<div id="list">
    <div id="title">
        <span id="username">TODO's</span>
    </div>
    <div id="tasks" style="height: 150px; overflow: hidden">
        <ul>
            <li class="task" style="text-align: center"><a href="/login">Login</a></li>
            <li class="task" style="text-align: center"><a href="/signup">Sign-up</a></li>
        </ul>
    </div>
</div>