<div id="list">
    <div id="title">
        <span id="username">Sign-up</span>
    </div>
    <div id="tasks" style="height: 300px; overflow: hidden">
        <form method="post" action="/signup">
            <ul>
                <li class="task" style="text-align: center"><input type="text" name="username" placeholder="Username"></li>
                <li class="task" style="text-align: center"><input type="email" name="email" placeholder="Email"></li>
                <li class="task" style="text-align: center"><input type="password" name="password" placeholder="Password"></li>
                <li class="task" style="text-align: center"><input type="submit" id="submit" name="submit" value="Signup"></li>
            </ul>
        </form>
    </div>
</div>